.body_main {
    background-color: white;
}

.body_reg {
    background-image: url('../images/registration_background.jpeg');
}

.body_header {
    /*background-image: url('../images/pink_background.jpg');*/
    background-image: url('../images/pink_background2.jfif');
}

.form_sizing {
    width: 250px;
    margin:0 auto;
}

body {
    background-color: #f5f0ff; /* Light purple background */
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border-top: 5px solid #6f42c1; /* Purple top border */
}

.btn-purple {
    background-color: #6f42c1;
    color: white;
    width: 100%;
}

.btn-purple:hover {
    background-color: #5a32a3;
}
